<div class="modal fade" tabindex="-1" role="dialog" id="SalesforceTransferRuleEditModal" style="display:none">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title">Salesforce転送ルール追加</h4>
      </div>
      <div class="modal-body">
        <div class="row">
          <div class="col-md-4">フォーム</div>
          <div class="col-md-8">
            <select class="form-control">
              <option>フォーム１</option>
              <option>フォーム２</option>
            </select>
          </div>
        </div>
        <div class="row">
          <div class="col-md-4">Salesforceオブジェクト</div>
          <div class="col-md-8">
            <select class="form-control">
              <option>リード</option>
              <option>取引先責任者</option>
            </select>
          </div>
        </div>
        <div class="row">
          <div class="col-md-12">&nbsp;</div>
        </div>
        <div class="row">
          <div class="col-md-12">項目割付</div>
        </div>
        <div class="row">
          <div class="col-md-12">
            <table class="table">
              <tr><th>SForm項目</th><th>Salesforce項目</th></tr>
              <tr><td>氏名</td><td>姓</td></tr>
            </table>
          </div>
        </div>
        <div class="row">
          <div class="col-md-5">
            <select class="form-control" v-model="tmpColumnConvertDefinition.sformCol">
              <option>氏名</option>
              <option>メールアドレス</option>
            </select>
          </div>
          <div class="col-md-5">
            <select class="form-control" v-model="tmpColumnConvertDefinition.salesforceCol">
              <option>姓</option>
              <option>名</option>
              <option>メールアドレス</option>
            </select>
          </div>
          <div class="col-md-2">
            <button type="button" class="btn btn-primary" v-on:click="SalesforceTransferRuleEditAddColumnConvertDefinitions">追加</button>
          </div>
        </div>
<!--
        <div class="row">
          <div class="col-md-12">
            <table id="SalesforceTransferDefinitionColumns"></table>
            <v-client-table :data="TestTableData" :columns="TestColumns"></v-client-table>
          </div>
        </div>
        -->
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">閉じる</button>
        <button type="button" class="btn btn-primary">保存</button>
      </div>
    </div><!-- /.modal-content -->
  </div><!-- /.modal-dialog -->
</div><!-- /.modal -->
