<!-- フォーム削除modal -->
<div class="modal fade" tabindex="-1" role="dialog" id="modal_delete_form">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <h4 class="modal-title">フォームの削除</h4>
            </div>
            <div class="modal-body">
                <p>削除しますか?</p>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">キャンセル</button>
                <button type="button" class="btn btn-primary" v-on:click="deleteForm">削除</button>
            </div>
        </div>
        <!-- /.modal-content -->
    </div>
    <!-- /.modal-dialog -->
</div>
<!-- /.modal -->

<!-- フォーム項目削除modal -->
<div class="modal fade" tabindex="-1" role="dialog" id="modal_delete_formcol">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <h4 class="modal-title">フォーム項目の削除</h4>
            </div>
            <div class="modal-body">
                <p>削除しますか?</p>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">キャンセル</button>
                <button type="button" class="btn btn-primary" v-on:click="deleteFormCol">削除</button>
            </div>
        </div>
        <!-- /.modal-content -->
    </div>
    <!-- /.modal-dialog -->
</div>
<!-- /.modal -->

<!-- ユーザー削除modal -->
<div class="modal fade" tabindex="-1" role="dialog" id="modal_delete_user">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <h4 class="modal-title">ユーザーの削除</h4>
            </div>
            <div class="modal-body">
                <p>削除しますか?</p>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">キャンセル</button>
                <button type="button" class="btn btn-primary" v-on:click="deleteUser">削除</button>
            </div>
        </div>
        <!-- /.modal-content -->
    </div>
    <!-- /.modal-dialog -->
</div>
<!-- /.modal -->

<!-- ユーザーパスワードリセットmodal -->
<div class="modal fade" tabindex="-1" role="dialog" id="modal_reset_password">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <h4 class="modal-title">パスワードリセット</h4>
            </div>
            <div class="modal-body">
                <p>パスワードをリセットしますか?</p>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">キャンセル</button>
                <button type="button" class="btn btn-primary" v-on:click="resetPassword">削除</button>
            </div>
        </div>
        <!-- /.modal-content -->
    </div>
    <!-- /.modal-dialog -->
</div>
<!-- /.modal -->

<!-- フォームデータ表示modal -->
<div class="modal fade" tabindex="-1" role="dialog" id="modal_list_formdata">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <h4 class="modal-title">フォームデータ</h4>
            </div>
            <div class="modal-body">
                <table class="formDataView">
                    <tr v-for="(v,key,index) in formData.data" v-if="key != 'index'">
                        <td><span v-if="typeof index=='number'">{{getFormDataColLabel(index)}}</span></td>
                        <td>{{v}}</td>
                    </tr>
                </table>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">閉じる</button>
                <button type="button" class="btn btn-primary" v-on:click="deleteFormCol">編集</button>
            </div>
        </div>
        <!-- /.modal-content -->
    </div>
    <!-- /.modal-dialog -->
</div>
<!-- /.modal -->

<!-- フォームデータ削除modal -->
<div class="modal fade" tabindex="-1" role="dialog" id="modal_delete_formdata">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <h4 class="modal-title">データの削除</h4>
            </div>
            <div class="modal-body">
                <p>削除しますか?</p>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">キャンセル</button>
                <button type="button" class="btn btn-primary" v-on:click="deleteUser">削除</button>
            </div>
        </div>
        <!-- /.modal-content -->
    </div>
    <!-- /.modal-dialog -->
</div>
<!-- /.modal -->

<!-- フォーム項目編集modal -->
<div class="modal fade" tabindex="-1" role="dialog" id="modal_edit_formcol">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <h4 class="modal-title">フォーム項目編集</h4>
            </div>
            <div class="modal-body">
                <div class="row">
                    <div class="col-md-12">
                        <div class="row form-group">
                            <label class="col-md-3">項目名</label>
                            <div class="col-md-9">
                                <input type="text" class="form-control" v-model="tmpFormColInput.name" />
                            </div>
                        </div>
                        <div class="row form-group">
                            <label class="col-md-3">項目ID</label>
                            <div class="col-md-9">
                                <input type="text" class="form-control" v-model="tmpFormColInput.colId" />
                            </div>
                        </div>


                        <div class="row form-group">
                            <label class="col-md-3">型</label>
                            <div class="col-md-9">
                                <select class="form-control" v-model="tmpFormColInput.coltype">
                                    <option value="1">テキスト</option>
                                    <option value="2">コンボボックス（単一選択）</option>
                                    <option value="3">チェックボックス（複数選択）</option>
                                    <option value="4">ラジオボタン（単一選択）</option>
                                    <option value="5">テキストエリア</option>
                                    <option value="6">隠しテキスト</option>
                                    <option value="7">表示テキスト（非入力項目）</option>
                                </select>
                            </div>
                        </div>
                        <div class="row form-group" v-if="tmpFormColInput.coltype=='2' || tmpFormColInput.coltype=='3' || tmpFormColInput.coltype=='4'">
                            <label class="col-md-3">選択項目</label>
                            <div class="col-md-9">
                                <div class="row">
                                    <div class="col-md-12">
                                        <table class="table">
                                            <thead>
                                                <tr><th>表示文字列</th><th>値</th><th>操作</th></tr>
                                            </thead>
                                            <tbody v-for="sel in tmpFormColSelect">
                                                <tr>
                                                    <td>
                                                        <span class="selView" v-bind:id="'selViewDisplayText_'+sel.index" v-bind:style="sel.viewStyle">{{sel.displayText}}</span>
                                                        <input class="form-control selEdit" v-bind:id="'selEditDisplayText_'+sel.index" v-bind:style="sel.editStyle" v-model="sel.displayText" />
                                                    </td>
                                                    <td>
                                                        <span class="selView" v-bind:id="'selViewValue_'+sel.index" v-bind:style="sel.viewStyle">{{sel.value}}</span>
                                                        <input class="form-control selEdit" v-bind:id="'selEditValue_'+sel.index" v-bind:style="sel.editStyle" v-model="sel.value" />
                                                    </td>
                                                    <td>
                                                        <span class="glyphicon glyphicon-pencil" v-bind:style="sel.viewStyle" v-on:click="startFormColSelEdit(sel.index)"></span>
                                                        <span class="glyphicon glyphicon-trash" v-bind:style="sel.viewStyle" v-on:click="deleteFormColSel(sel.index)"></span>
                                                        <span class="glyphicon glyphicon-ok" v-bind:style="sel.editStyle" v-on:click="endFormColSelEdit(sel.index)"></span>
                                                        <span class="glyphicon glyphicon-remove" v-bind:style="sel.editStyle" v-on:click="cancelFormColSelEdit(sel.index)"></span>
                                                    </td>
                                                </tr>
                                            </tbody>
                                        </table>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-md-12 text-right">
                                        <button type="button" class="btn btn-default btn-sm" v-on:click="addFormColSel()">
                                            <span class="glyphicon glyphicon-plus" aria-hidden="true">追加</span>
                                        </button>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="row form-group">
                            <label class="col-md-3">初期値</label>
                            <div class="col-md-9">
                                <input type="text" class="form-control" v-model="tmpFormColInput.default" />
                            </div>
                        </div>
                        <div class="row form-group">
                            <label class="col-md-3">バリデーション</label>
                            <div class="col-md-9">
                                <select class="form-control" v-model="tmpFormColInput.validations.inputType">
                                    <option value="0">無制限</option>
                                    <option value="1">数値のみ</option>
                                    <option value="2">英数字のみ</option>
                                    <option value="3">ひらがなのみ</option>
                                    <option value="4">カタカナのみ</option>
                                    <option value="5">メールアドレス</option>
                                    <option value="6">郵便番号</option>
                                </select>
                            </div>
                        </div>

                        <div class="row form-group" v-if="tmpFormColInput.validations.inputType == '1'">
                            <label class="col-md-3">数値範囲</label>
                            <div class="col-md-9">
                                <div class="row">
                                    <div class="col-md-3">最小</div>
                                    <div class="col-md-3"><input type="text" class="form-control" v-model="tmpFormColInput.validations.minValue" /></div>
                                    <div class="col-md-3">最大</div>
                                    <div class="col-md-3"><input type="text" class="form-control" v-model="tmpFormColInput.validations.maxValue" /></div>
                                </div>
                            </div>
                        </div>

                        <div class="row form-group">
                            <label class="col-md-3">文字数範囲</label>
                            <div class="col-md-9">
                                <div class="row">
                                    <div class="col-md-3">最小</div>
                                    <div class="col-md-3"><input type="text" class="form-control" v-model="tmpFormColInput.validations.minLength" /></div>
                                    <div class="col-md-3">最大</div>
                                    <div class="col-md-3"><input type="text" class="form-control" v-model="tmpFormColInput.validations.maxLength" /></div>
                                </div>
                            </div>
                        </div>

                        <div class="row form-group">
                            <label class="col-md-3">必須項目</label>
                            <div class="col-md-9">
                                <input type="checkbox" v-model="tmpFormColInput.required" />
                            </div>
                        </div>

                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">閉じる</button>
                <!-- <button type="button" class="btn btn-primary" v-on:click="endFormColEdit(tmpFormInput.index,col.index)">変更</button> -->
            </div>
        </div>
        <!-- /.modal-content -->
    </div>
    <!-- /.modal-dialog -->
</div>
<!-- /.modal -->

<!-- フォーム項目並び替えmodal -->
<div class="modal fade" tabindex="-1" role="dialog" id="modal_reorder_formcol">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <h4 class="modal-title">フォーム項目の並び替え</h4>
            </div>
            <div class="modal-body">
                <ul class="draggable" style="margin-bottom:0px" v-for="col in orderedCols" draggable="true" @@dragstart="dragstart(col, $event)" @@dragend="dragend" @@dragenter="dragenter(col)" @@dragover="$event.preventDefault()">
                    <li class="list-group-item">{{col.name}}</li>
                </ul>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">閉じる</button>
            </div>
        </div>
        <!-- /.modal-content -->
    </div>
    <!-- /.modal-dialog -->
</div>
<!-- /.modal -->
