@*
* This template takes a single argument, a String containing a 
* message to display. 
*@
@import helper._
@import play.api.i18n.Messages
@import play.api.mvc.RequestHeader
@import org.webjars.play.WebJarsUtil

@(user: models.User)(implicit request: RequestHeader, messages: Messages, webJarsUtil: WebJarsUtil)
@* 
* Call the `main` template with two arguments. The first 
* argument is a `String` with the title of the page, the second 
* argument is an `Html` object containing the body of the page. 
*@ 

@main("sform", Some(user)){
<div id="app">
    <nav class="navbar navbar-inverse navbar-fixed-top">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
                <a class="navbar-brand" href="#"><img src="@controllers.routes.Assets.at("/images/sform_logo_2.png ")" height="36"></a>
            </div>
            <div id="navbar" class="collapse navbar-collapse">
                <ul class="nav navbar-nav">
                    <li v-bind:class="menuStatus[0]"><a href="#" v-on:click="togglePage('formList',0)">@messages("sform.menu.form")</a></li>
                    <li v-bind:class="menuStatus[3]"><a href="#" v-on:click="togglePage('transferSetting',3)">@messages("sform.menu.transfer")</a></li>
                    <li v-bind:class="menuStatus[1]"><a href="#about" v-on:click="togglePage('userList',1)">@messages("sform.menu.user")</a></li>
                    <!-- <li v-bind:class="menuStatus[2]"><a href="#config" v-on:click="togglePage('config',2)">Config</a></li> -->
                    <li><a href="#config" v-on:click="logout">@messages("sform.menu.signout")</a></li>
                </ul>
            </div>
            <!--/.nav-collapse -->
        </div>
    </nav>

    <div class="container sfpage" id="formList">
        <div class="starter-template">
            <h1 class="pageTitle">@messages("sform.title.forms")</h1><!-- [@user.email.getOrElse("")][@user.group.getOrElse("")] -->
            <p class="lead"></p>
            <div>
                <div class="table">
                    <table class="table">
                        <thead>
                            <tr>
                                <th></th>
                                <th>@messages("sform.formlist.header.name")</th>
                                <th>@messages("sform.formlist.header.title")</th>
                                <th>@messages("sform.formlist.header.id")</th>
                                <th></th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr v-for="form in orderedItems">
                                <td>
                                    <span class="glyphicon glyphicon-play" aria-hidden="true" v-if="form.status=='1'"></span>
                                    <span class="glyphicon glyphicon-minus-sign" aria-hidden="true" v-if="form.status=='2'"></span>
                                    <span class="glyphicon glyphicon-ban-circle" aria-hidden="true" v-if="form.status=='0'"></span>
                                </td>
                                <td>{{form.name}}</td>
                                <td>{{form.title}}</td>
                                <td>{{form.hashed_id}}</td>
                                <td>
                                    <button type="button" class="btn btn-default btn-sm btn-formList" v-on:click="startFormEdit(1,form.index)">
                                        <span class="glyphicon glyphicon-list-alt" aria-hidden="true">@messages("sform.button.setting")</span>
                                    </button>
                                    <button type="button" class="btn btn-default btn-sm btn-formList" v-on:click="startFormData(form.index)">
                                        <span class="glyphicon glyphicon-align-justify" aria-hidden="true">@messages("sform.button.data")</span>
                                    </button>
                                    <div class="dropup" style="display:inline">
                                        <button class="btn btn-default btn-sm dropdown-toggle" type="button" id="dropdownMenu2" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                            @messages("sform.button.action")
                                            <span class="caret"></span>
                                        </button>
                                        <ul class="dropdown-menu" aria-labelledby="dropdownMenu2">
                                            <li><a href="#" v-on:click="changeFormStatus(form.index,'0')"><span class="glyphicon glyphicon-ban-circle">@messages("sform.action.inactive")</a></li>
                                            <li><a href="#" v-on:click="changeFormStatus(form.index,'1')"><span class="glyphicon glyphicon-play"></span>@messages("sform.action.active")</a></li>
                                            <li><a href="#" v-on:click="changeFormStatus(form.index,'2')"><span class="glyphicon glyphicon-minus-sign">@messages("sform.action.stop")</a></li>
                                            <li><a href="#" v-on:click="deleteFormConfirm(form.index, form.hashed_id)"><span class="glyphicon glyphicon-trash"></span>@messages("sform.action.delete")</a></li>
                                        </ul>
                                    </div>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </div>
                <div class="table">
                    <div class="row">
                        <div class="col-md-12 text-center">
                            <button class="btn btn-default btn-sm" type="button" v-on:click="addForm()"><span class="glyphicon glyphicon-plus"></span>@messages("sform.button.addform")</button>
                        </div>
                    </div>

                </div>
            </div>
        </div>
    </div>

    <div class="container sfpage" id="formEdit">
        <div class="starter-template">

            <h1 class="pageTitle">{{tmpFormInput.name}}@messages("sform.title.formsetting")</h1>
            <p class="lead"></p>
            <div class="row">
                <div class="col-md-12">
                    <div class="formEdit_">
                        <div class="row form-group">
                            <label class="col-md-4">@messages("sform.setting.form_name")</label>
                            <div class="col-md-8">
                                <input type="text" class="form-control" id="name" v-model="tmpFormInput.name" />
                            </div>
                        </div>
                        <div class="row form-group">
                            <label class="col-md-4">@messages("sform.setting.form_title")</label>
                            <div class="col-md-8">
                                <input type="text" class="form-control" v-model="tmpFormInput.title" />
                            </div>
                        </div>

                        <div class="row form-group">
                            <label class="col-md-4">@messages("sform.setting.url_after_cancel")</label>
                            <div class="col-md-8">
                                <input type="text" class="form-control" v-model="tmpFormInput.cancelUrl" />
                            </div>
                        </div>
                        <div class="row form-group">
                            <label class="col-md-4">@messages("sform.setting.url_after_complete")</label>
                            <div class="col-md-8">
                                <input type="text" class="form-control" v-model="tmpFormInput.completeUrl" />
                            </div>
                        </div>
                        <div class="row form-group">
                            <label class="col-md-4">@messages("sform.setting.form_input_header")</label>
                            <div class="col-md-8">
                                <textarea class="form-control" v-model="tmpFormInput.inputHeader" rows="8"></textarea>
                            </div>
                        </div>
                        <div class="row form-group">
                            <label class="col-md-4">@messages("sform.setting.form_confirm_header")</label>
                            <div class="col-md-8">
                                <textarea class="form-control" v-model="tmpFormInput.confirmHeader" rows="8"></textarea>
                            </div>
                        </div>
                        <div class="row form-group">
                            <label class="col-md-4">@messages("sform.setting.form_complete_text")</label>
                            <div class="col-md-8">
                                <textarea class="form-control" v-model="tmpFormInput.completeText" rows="8"></textarea>
                            </div>
                        </div>
                        <div class="row form-group">
                            <label class="col-md-4">@messages("sform.setting.form_stop_text")</label>
                            <div class="col-md-8">
                                <textarea class="form-control" v-model="tmpFormInput.closeText" rows="8"></textarea>
                            </div>
                        </div>
                        <div class="row form-group" style="margin-top:40px">
                            <label class="col-md-4">@messages("sform.setting.form_column")</label>
                            <div class="col-md-8">
                                <table class="table">
                                    <thead>
                                        <tr>
                                            <th>@messages("sform.setting.form_column_name")</th><th>@messages("sform.setting.form_column_action")</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        <tr v-for="col in orderedCols">
                                            <td>{{col.name}}</td>
                                            <td>
                                                <button type="button" class="btn btn-default btn-sm formColEditOff" v-bind:id="'btColEdit_'+col.index" v-on:click="startFormColEdit(tmpFormInput.index,col.index)">
                                                    <span class="glyphicon glyphicon-pencil" aria-hidden="true">@messages("sform.button.edit")</span>
                                                </button>
                                                <button type="button" class="btn btn-default btn-sm formColEditOff" v-bind:id="'btColDelete_'+col.index" v-on:click="deleteFormColConfirm(tmpFormInput.index,col.index)">
                                                    <span class="glyphicon glyphicon-trash" aria-hidden="true">@messages("sform.button.delete")</span>
                                                </button>
                                                <button type="button" class="btn btn-default btn-sm formColEditOn" v-bind:id="'btColUpdate_'+col.index" v-on:click="endFormColEdit(tmpFormInput.index,col.index)">
                                                    <span class="glyphicon glyphicon-remove" aria-hidden="true">@messages("sform.button.close")</span>
                                                </button>
                                            </td>
                                        </tr>
                                    </tbody>
                                </table>

                                <div>
                                    <button type="button" class="btn btn-default btn-sm" v-on:click="addFormCol">
                                        <span class="glyphicon glyphicon-plus" aria-hidden="true">@messages("sform.button.add")</span>
                                    </button>
                                    <button type="button" class="btn btn-default btn-sm" v-on:click="reorderFormCol">
                                        <span class="glyphicon glyphicon-sort" aria-hidden="true">@messages("sform.button.reorder")</span>
                                    </button>
                                </div>
                            </div>
                        </div>
                        <div class="row form-group" style="margin-top:40px">
                            <label class="col-md-4">@messages("sform.setting.transfer_rule")</label>
                            <div class="col-md-8">
                                <div class="row">
                                    <div class="col-md-12">
                                    <table class="table">
                                        <thead>
                                            <tr>
                                                <th>@messages("sform.setting.transfer_name")</th><th>@messages("sform.setting.transfer_type")</th><th>@messages("sform.setting.transfer_action")</th>
                                            </tr>
                                        </thead>
                                        <tbody>
                                            <tr v-for="(index,task) in tmpTransferTaskListFiltered">
                                                <td>{{task.name}}</td>
                                                <td>{{task.transfer_name}}</td>
                                                <td>
                                                    <button type="button" class="btn btn-default btn-sm" v-on:click="EditTransferRule(index)">
                                                        <span class="glyphicon glyphicon-pencil" aria-hidden="true">@messages("sform.button.edit")</span>
                                                    </button>
                                                    <button type="button" class="btn btn-default btn-sm" v-on:click="DeleteTransferRule(index)">
                                                        <span class="glyphicon glyphicon-trash" aria-hidden="true">@messages("sform.button.delete")</span>
                                                    </button>
                                                </td>
                                            </tr>
                                        </tbody>
                                    </table>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-md-6">
                                        <select class="form-control" v-model="transferSelected">
                                            <option  v-for="transfer in transferList" value="{{transfer.type_id}}">{{transfer.name}}</option>
                                        </select>
                                    </div>
                                    <div class="col-md-2">
                                        <button type="button" class="form-control btn btn-default btn-sm" v-on:click="AddTransferRule">
                                            <span class="glyphicon glyphicon-plus" aria-hidden="true">@messages("sform.button.add")</span>
                                        </button>
                                    </div>
                                    <div class="col-md-4"></div>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-12 text-left">
                                <button type="button" class="btn btn-default btn-sm" value="cancel" v-on:click="cancelFormEdit()">
                                                    <span class="glyphicon glyphicon-remove" aria-hidden="true">@messages("sform.button.cancel")</span>
                                                  </button>
                                <button type="button" class="btn btn-default btn-sm" value="change" v-on:click="endFormEdit(1,tmpFormInput.index)">
                                                    <span class="glyphicon glyphicon-ok" aria-hidden="true">@messages("sform.button.change")</span>
                                                  </button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="container sfpage" id="transferSetting">
        <div class="starter-template">
            <h1 class="pageTitle">@messages("sform.title.transfer")</h1>
        </div>
    </div>


    <div class="container sfpage" id="formData">
        <div class="starter-template">
            <h1 class="pageTitle">@messages("sform.title.data")</h1>
            <p class="lead"></p>
            <div class="row">
                <div class="col-md-12">
                    <table id="formDataTable" class="table table-striped table-bordered"></table>
                </div>
            </div>
            <div class="row">
                <div class="col-md-12 text-left">
                    <button type="button" class="btn btn-default btn-sm" v-on:click="endFormData()">
                            <span class="glyphicon glyphicon-repeat">@messages("sform.button.backtolist")</span>
                        </button>
                    <button type="button" class="btn btn-default btn-sm" v-on:click="downloadCsvConfirm()">
                            <span class="glyphicon glyphicon-download-alt">@messages("sform.button.csvdl")</span>
                        </button>
                </div>
            </div>
        </div>
    </div>

    <div class="container sfpage" id="userEdit">
        <div class="starter-template">
            <h1 class="pageTitle">@messages("sform.title.user")</h1>
            <p class="lead"></p>
            <div>h
                <div class="row">
                    <div class="col-md-3">@messages("sform.user.status")</div>
                    <div class="col-md-9"><input type="text" class="form-control" v-model="tmpUserInput.status" /></div>
                </div>
                <div class="row">
                    <div class="col-md-3">@messages("sform.user.login_id")</div>
                    <div class="col-md-9"><input type="text" class="form-control" v-model="tmpUserInput.uid" /></div>
                </div>
                <div class="row">
                    <div class="col-md-3">@messages("sform.user.name")</div>
                    <div class="col-md-9"><input type="text" class="form-control" v-model="tmpUserInput.name" /></div>
                </div>
                <div class="row">
                    <div class="col-md-3">@messages("sform.user.email")</div>
                    <div class="col-md-9"><input type="text" class="form-control" v-model="tmpUserInput.email" /></div>
                </div>
                <div class="row">
                    <div class="col-md-12 text-left">
                        <button type="button" class="btn btn-default btn-sm" value="cancel" v-on:click="cancelUserEdit()">
                                                    <span class="glyphicon glyphicon-remove" aria-hidden="true">@messages("sform.button.cancel")</span>
                                                  </button>
                        <button type="button" class="btn btn-default btn-sm" value="ok" v-on:click="endUserEdit(tmpUserInput.index)">
                                                    <span class="glyphicon glyphicon-ok" aria-hidden="true">@messages("sform.button.change")</span>
                                                  </button>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <!--
    <div class="container sfpage" id="config">
        <div class="starter-template">
            <h1 class="pageTitle">設定</h1>
            <p class="lead"></p>
            <h3>SForm機能</h3>
            <div class="row">
                <div class="col-md-3">管理者メールアドレス</div>
                <div class="col-md-9"><input type="text" class="form-control" /></div>
            </div>
            <div class="row">
                <div class="col-md-3">ログインアラート</div>
                <div class="col-md-9"><input type="text" class="form-control" /></div>
            </div>

            <h3>Salesforce設定</h3>
            <div class="row">
                <div class="col-md-3">SFユーザー名</div>
                <div class="col-md-9"><input type="text" class="form-control" /></div>
            </div>
            <div class="row">
                <div class="col-md-3">SFパスワード</div>
                <div class="col-md-9"><input type="text" class="form-control" /></div>
            </div>
            <div class="row">
                <div class="col-md-3">SFセキュリティトークン</div>
                <div class="col-md-9"><input type="text" class="form-control" /></div>
            </div>
            <div class="row">
                <div class="col-md-12 text-left">
                    <button type="button" class="btn btn-default btn-sm" value="変更" v-on:click="endUserEdit(tmpUserInput.index)">
                            <span class="glyphicon glyphicon-ok" aria-hidden="true">変更</span>
                        </button>
                </div>
            </div>
        </div>
    </div>
    -->



    <!-- CSVダウンロードmodal -->
    <div class="modal fade" tabindex="-1" role="dialog" id="modal_download_csv">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                    <h4 class="modal-title">@messages("sform.title.csvdl")</h4>
                </div>
                <div class="modal-body">
                    @messages("sform.title.csvdl")
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal">@messages("sform.button.close")</button>
                    <button type="button" class="btn btn-primary" v-on:click="downloadCsv">@messages("sform.button.csvdl")</button>
                </div>
            </div>
            <!-- /.modal-content -->
        </div>
        <!-- /.modal-dialog -->
    </div>
    <!-- /.modal -->

    <!-- 共通Modal用 -->


    <!-- Transfer用 -->b


</div>



</div>

@CSRF.formField

<script src="assets/javascripts/jquery-3.2.0.js"></script>
<script src="assets/javascripts/vue.js"></script>
<script src="assets/javascripts/bootstrap.js"></script>
<script src="assets/javascripts/lodash.min.js"></script>
<script src="assets/javascripts/jquery.datatables.min.js"></script>
<script src="assets/javascripts/dataTables.colReorder.min.js"></script>
<script src="https://cdn.datatables.net/1.10.19/js/dataTables.bootstrap.min.js"></script>
<script src="assets/javascripts/sformComponents.js"></script>
<script src="assets/javascripts/sformDefaultData.js"></script>
<script src="assets/javascripts/sform.js"></script>


}