@import play.api.i18n.Messages
@import play.api.mvc.RequestHeader
@import play.twirl.api.Html
@import org.webjars.play.WebJarsUtil

@*
* This template is called from the `index` template. This template 
* handles the rendering of the page header and body tags. It takes * two arguments, a `String` for the title of the page and an `Html` 
* object to insert into the body of the page.
*@ 
@(title: String, user: Option[models.User] = None)(content: Html)
<!DOCTYPE html>
<html>

<head>
    @* Here's where we render the page title `String`. *@
    <title>@title</title>
    <link rel="stylesheet" media="screen" href="@controllers.routes.Assets.at("stylesheets/main.css ")">
    <link rel="stylesheet" href="@controllers.routes.Assets.at("/stylesheets/bootstrap.min.css ")">
    <link rel="stylesheet" href="@controllers.routes.Assets.at("/stylesheets/bootstrap-theme.min.css ")">
    <link rel="stylesheet" href="@controllers.routes.Assets.at("/stylesheets/jquery.dataTables.min.css ")">
    <link rel="stylesheet" href="https://cdn.datatables.net/1.10.19/css/dataTables.bootstrap.min.css">
    <link rel="stylesheet" href="@controllers.routes.Assets.at("/stylesheets/sform.css ")">

    <link rel="shortcut icon" type="image/png" href="@controllers.routes.Assets.at("/images/favicon.png ")">
    <script src="@controllers.routes.Assets.at("/javascripts/hello.js ")" type="text/javascript"></script>
</head>

<body>
    @* And here's where we render the `Html` object containing * the page content. *@ 
    <section class="content">@content</section>
</body>

</html>