<div class="row">
    <div class="col-md-4">
        <ul>
            <li class="list-group-item" id="item-transfer-Mail" v-on:click="TransferConfigChangeTransfer('Mail')">Mail</li>
            <li class="list-group-item" id="item-transfer-Salesforce" v-on:click="TransferConfigChangeTransfer('Salesforce')">Salesforce</li>
        </ul>
    </div>
    <div class="col-md-8">
        <mail-tansfer-config v-bind:transfer-config="transferConfig" v-bind:transfer-task-default="transferTaskDefault" v-on:set="SetTransferConfig"></mail-tansfer-config>
        <salesforce-tansfer-config v-bind:transfer-config="transferConfig" v-bind:transfer-task-default="transferTaskDefault" v-on:set="SetTransferConfig"></salesforce-tansfer-config>
    </div>
</div>
