<mail-tansfer-rule-edit v-bind:transfer-config="transferConfig"
                              v-bind:form-cols="tmpFormCols"
                              v-bind:tmp-transfer-task="tmpTransferTask"
                              v-bind:tmp-transfer-task-list="tmpTransferTaskList"
                              v-bind:tmp-transfer-rule-setting="tmpTransferRuleSetting"
                              v-bind:tmp-form-input="tmpFormInput"
                              v-on:set="SetTransferTask"
                              v-on:setTmpTransferRule="SetTmpTransferRuleSetting">
</mail-tansfer-rule-edit>
<salesforce-tansfer-rule-edit v-bind:transfer-config="transferConfig"
                              v-bind:form-cols="tmpFormCols"
                              v-bind:tmp-transfer-task="tmpTransferTask"
                              v-bind:tmp-transfer-task-list="tmpTransferTaskList"
                              v-bind:tmp-transfer-rule-setting="tmpTransferRuleSetting"
                              v-bind:tmp-form-input="tmpFormInput"
                              v-on:set="SetTransferTask"
                              v-on:setTmpTransferRule="SetTmpTransferRuleSetting">
</salesforce-tansfer-rule-edit>
